appnope
asttokens
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
ipykernel
ipython
ipython_pygments_lexers
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn
scipy
seaborn
six
stack-data
threadpoolctl
tornado
traitlets
tzdata
wcwidth
xgboost
tensorflow